
/* Erste CSS-Datei für grobes Layout */
/* oberer, mittlerer und unterer Bereich mit Farbe */
nav {
    background-color: rgb(224, 246, 255);
    color: darkblue;
    height: 210px;
}

main {
    background-color: rgb(245, 245, 245);
    color: rgb(82, 0, 26);
    min-height: 500px;
}

footer {
    background-color: rgb(224, 246, 255);
    color: darkblue;
    height: 150px;
}



/* Hover-Farbe für Links und Knöpfe */
a:hover {
    color: orange;
}

button:hover {
    color: teal;
}


/* Farbe für Formulareingabetext */

#form1>input {
    color: rgb(82, 0, 26);
}